{% extends "base/base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<link href="{% static 'css/employee/employee.css' %}" rel="stylesheet"/>
<div class="container">
  <h3>Manager Management</h3>
  <!--Recycle Page Employee Management-->
  <div class="card">
    <div class="card-body" style="background:#CFE2FF;">
      <div class="row">
        <div class="col-sm-3 ">
          <div class="row">
            <div class="col-sm-2 ">
              <span class="fs-3"  style="font-weight:bolder;"><i class="fa-solid fa-recycle"></i></span>
            </div>
            <div class="col-sm-10 ">
              <h4>Recycle Bin</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          
        </div>
        <div class="col-sm-5">
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
              <form action="{% url 'recycleBinPage_manager' %}" method="GET">
                {% csrf_token %}
                <button class="btn btn-secondary " style="background:#c4c1e0" type="submit" aria-expanded="false">
                  {% if manager_deleted %}
                  {{ manager_deleted }}
                  {% else %}
                  ...
                  {% endif %}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Recycle Page Employee Management-->

    <div class="row mt-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" id="acc_title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {% if update %}
                  Update Manager
                  {% else %}
                  Add Manager
                  {% endif %}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <!--Using Django template to send data to the backend-->
                    {% if update %}
                    <form action = "{% url 'update_data_manager' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {% if error %}
                            <p class="text-danger">{{error}}</p>
                            {% endif %}
                            {% if msg %}
                            <p class="text-success">{{msg}}</p>
                            {% endif %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="visually-hidden" for="employeeID">Manager ID</label>
                                    <input type="text" class="form-control" id="employeeID" name="managerID" value="{{data.managerID}}">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="visually-hidden" for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{data.name}}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="row mb-3">
                                <button class="btn btn-primary mx-auto" id = "save_button" style="width:20%" type="submit">Save Changes</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <form action = "{% url 'create_data_manager' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {% if error %}
                            <p class="text-danger">{{error}}</p>
                            {% endif %}
                            {% if msg %}
                            <p class="text-success">{{msg}}</p>
                            {% endif %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="visually-hidden" for="employeeID">Manager ID</label>
                                    <input type="text" class="form-control" id="employeeID" name="managerID" placeholder="Manager ID">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="visually-hidden" for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name of Manager">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="row mb-3">
                                <button class="btn btn-primary mx-auto" id = "save_button" style="width:20%" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    <!--Using Django template to send data to the backend-->
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        {% if managers %}
        <div class="table-responsive scrollable-table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" style="display:none">record_id</th>
                <th scope="col">Action</th>
                <th scope="col">Manager ID</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody id="table_data">
                
                {% for item in managers %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <th scope="row" style="display:none">{{ item.id }}</th>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary " style="background:#c4c1e0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              ...
                            </button>
                            <ul class="dropdown-menu menu-dark">  
                              <li><a class="dropdown-item text-center text-danger" href="{% url 'delete_data_manager' pk=item.id %}"><i class="fa-solid fa-trash"></i></a></li>
                              <li><a class="dropdown-item text-center text-primary" href="{% url 'update_data_page_manager' pk=item.id %}"><i class="fa-solid fa-pen"></i></a></li>
                            </ul>
                          </div>
                    </td>
                    <td>{{ item.managerID }}</td>
                    <td>{{ item.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
          {% else %}
          <div class="card mb-2">
            <div class="card-body">
              <h3>No Data Found</h3>
            </div>
          </div>
          {% endif %}
    </div>
</div>
{% endblock content %}