{% extends "base/base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<link href="{% static 'css/employee/employee.css' %}" rel="stylesheet"/>

<div class="container">
  
  <div class="row ms-3">
    <h3>Manager Management</h3>
  </div>
  <!--Recycle Page Employee Management-->
  <div class="card">
    <div class="card-body" style="background:#CFE2FF;">
      <div class="row">
        <div class="col-sm-3 ">
          <div class="row">
            <div class="col-sm-2 ">
              <span class="fs-3"  style="font-weight:bolder;"><i class="fa-solid fa-recycle"></i></span>
            </div>
            <div class="col-sm-10 ">
              <h4>Recycle Bin</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          
        </div>
        <div class="col-sm-5">
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
              <form action="{% url 'recycleBinPage_manager' %}" method="GET">
                {% csrf_token %}
                <button class="btn btn-secondary " style="background:#c4c1e0" type="submit" aria-expanded="false">
                  {% if manager_deleted %}
                  {{ manager_deleted }}
                  {% else %}
                  ...
                  {% endif %}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Recycle Page Employee Management-->

    <div class="row mt-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" id="acc_title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {% if update %}
                  Update Manager
                  {% else %}
                  Add Manager
                  {% endif %}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <!--Using Django template to send data to the backend-->
                    {% if update %}
                    <form action = "{% url 'update_data_manager' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {% if error %}
                            <p class="text-danger">{{error}}</p>
                            {% endif %}
                            {% if msg %}
                            <p class="text-success">{{msg}}</p>
                            {% endif %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="visually-hidden" for="employeeID">Manager ID</label>
                                    <input type="text" class="form-control" id="employeeID" name="managerID" value="{{data.managerID}}">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="visually-hidden" for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{data.name}}">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                 {% if hr_list %}
                                 
                                     {% comment %} 
                                     {% if hr_list_under_manager %}
                                     <p>hr under manager</p>
                                        {% for key, value in hr_list_under_manager.items %}
                                            <!--{{key}} is the manager pk-->
                                            <!--{{value}} is the key value pair of hr working under a manager-->
                                            {% if data.id == key %}
                                                {{value}}
                                                {% for hr_key, hr_name in value.items %}
                                                  {{hr_key}} {{hr_name}}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                     {% endif %}

                                     {% if hr_not_under_manager %}
                                     <p>hr not under manager</p>
                                            {% for hr_n_key, hr_n_value in hr_not_under_manager.items %}
                                                {{ hr_n_key }} {{ hr_n_value }}
                                                {% for hr_n_k,hr_n_v in hr_n_value.items %}
                                                    {{hr_n_k}} {{hr_n_v}}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %} 
                                        {% endcomment %}
                                        
                                 <select class="form-select my-2"  data-placeholder="Select Hr" multiple="multiple" name="select_hr">
                                        <!--Get options from hr table-->
                                        {% if hr_list_under_manager %}
                                              {% for key, value in hr_list_under_manager.items %}
                                                  <!--{{key}} is the manager pk-->
                                                  <!--{{value}} is the key value pair of hr working under a manager-->
                                                  {% if data.id == key %}
                                                      {% comment %} {{value}} {% endcomment %}
                                                      {% for hr_key, hr_name in value.items %}
                                                        {% comment %} {{hr_key}} {{hr_name}} {% endcomment %}
                                                        <option value={{ hr_key }} selected>{{ hr_name }}</option>
                                                      {% endfor %}
                                                  {% else %}
                                                      {% comment %} <option value={{ item.id }}>{{ item.name }}</option> {% endcomment %}
                                                  {% endif %}
                                              {% endfor %}
                                              {% if hr_not_under_manager %}
                                                  {% for hr_n_key, hr_n_value in hr_not_under_manager.items %}
                                                      {% for hr_n_k,hr_n_v in hr_n_value.items %}
                                                          <option value={{ hr_n_k }}>{{ hr_n_v }}</option>
                                                      {% endfor %}
                                                  {% endfor %}
                                              {% endif %}
                                        {% else %}
                                        {% if hr_not_under_manager %}
                                            {% for hr_n_key, hr_n_value in hr_not_under_manager.items %}
                                                {% for hr_n_k,hr_n_v in hr_n_value.items %}
                                                    <option value={{ hr_n_k }}>{{ hr_n_v }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                        {% comment %} {% if hr_not_under_manager %}
                                            {% for hr_n_key,hr_n_value in hr_not_under_manager.items %}
                                                <option value={{ hr_n_key }}>{{ hr_n_value }}</option>
                                            {% endfor %}
                                        {% endif %} {% endcomment %}
                                        {% comment %} {% for item in hr_list%}
                                           <option value={{ item.id }}>{{ item.name }}</option>
                                        {% endfor %} {% endcomment %}
                                        {% endif %}
                                  </select>  
                              {% else %}
                                  <select class="form-select my-2"  data-placeholder="Select Hr" multiple="multiple" name="select_hr">
                                       <option>--No Data--</option>
                                  </select> 
                              {% endif %} 
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="row mb-3">
                                <button class="btn btn-primary mx-auto" id = "save_button" style="width:20%" type="submit">Save Changes</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <form action = "{% url 'create_data_manager' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {% if error %}
                            <p class="text-danger">{{error}}</p>
                            {% endif %}
                            {% if msg %}
                            <p class="text-success">{{msg}}</p>
                            {% endif %}
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="visually-hidden" for="employeeID">Manager ID</label>
                                    <input type="text" class="form-control" id="employeeID" name="managerID" placeholder="Manager ID">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label class="visually-hidden" for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name of Manager">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                              {% if hr_list %}
                              <select class="form-select my-2"  data-placeholder="Select Hr" multiple="multiple" name="select_hr">
                                     <!--Get options from hr table-->
                                     {% for item in hr_list%}
                                           <option value={{ item.id }}>{{ item.name }}</option>
                                     {% endfor %}
                               </select>  
                           {% else %}
                               <select class="form-select my-2"  data-placeholder="Select Hr" multiple="multiple" name="select_hr">
                                    <option>--No Data--</option>
                               </select> 
                           {% endif %} 
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="row mb-3">
                                <button class="btn btn-primary mx-auto" id = "save_button" style="width:20%" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    <!--Using Django template to send data to the backend-->
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        {% if managers %}
        <div class="table-responsive scrollable-table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" style="display:none">record_id</th>
                <th scope="col">Action</th>
                <th scope="col">Manager ID</th>
                <th scope="col">Name</th>
                <th scope="col">Hr Under Manager</th>
              </tr>
            </thead>
            <tbody id="table_data">
                
                {% for item in managers %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <th scope="row" style="display:none">{{ item.id }}</th>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary " style="background:#c4c1e0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              ...
                            </button>
                            <ul class="dropdown-menu menu-dark">  
                              <li><a class="dropdown-item text-center text-danger" href="{% url 'delete_data_manager' pk=item.id %}"><i class="fa-solid fa-trash"></i></a></li>
                              <li><a class="dropdown-item text-center text-primary" href="{% url 'update_data_page_manager' pk=item.id %}"><i class="fa-solid fa-pen"></i></a></li>
                            </ul>
                          </div>
                    </td>
                    <td>{{ item.managerID }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                      <div class="dropdown">
                        {% if hr_under_manager_count %}
                             <button class="btn btn-secondary " id="hr_button" style="background:#c4c1e0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              {% for key, value in hr_under_manager_count.items %}
                              {% if key == item.id %}
                              {{value}}
                              {% endif %}
                              {% endfor %}
                             </button>
                             <ul class="dropdown-menu menu-dark">  
                                   {% for key, value in hr_list_under_manager.items %}
                                   {% if key == item.id %}
                                   <!--{{key}} is the manager id-->
                                    <!--{{value}} is the dictionary that contains key value pair of hr-->
                                   <!--use for loop to print all the values of hr names asssociated with the manager's primary key-->
                                   {% for hr_key,hr_name in value.items %}
                                   <!--pass key (manager pk) and hr_key (hr pk) in the dynamic link to open hr detail-->
                                   <li><a class="dropdown-item text-center text-danger" href="{% url 'hr_under_manager_details_page' manager_pk=key hr_pk=hr_key %}">{{hr_name}}</a></li>
                                   {% endfor %}
                                   {% endif %}
                                   {% endfor %}
                             </ul>
                        {% else %}
                             <button class="btn btn-secondary " style="background:#c4c1e0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                               ...
                             </button>
                             <ul class="dropdown-menu menu-dark">  
                                   <li>No Hr Assigned at the Moment</li>
                             </ul>
                        {% endif %}
                        </div>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
          {% else %}
          <div class="card mb-2">
            <div class="card-body">
              <h3>No Data Found</h3>
            </div>
          </div>
          {% endif %}
    </div>
</div>
<script src="{% static 'js/manager/manager.js' %}"></script>
{% endblock content %}