{% load static %}
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <script src="{% static 'js/jquery/jquery.js' %}"></script>
        <script src="https://kit.fontawesome.com/227d2d7f20.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/sweetalert/sweetalert.js' %}"></script>
        <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/fontawesome/all.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/base/base.css' %}" rel="stylesheet"/>
    </head>
    <body>
        {% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Arivani Task (Aditya Kumar)</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard_home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'employeePage' %}">Employee</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logoutUser' %}">Logout ({{user.username}})</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav> {% endcomment %}

          <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
            <ul class="nav flex-column text-white w-100">
              <a href="#" class="nav-link h3 text-white my-2">
                Arivani Task
              </a>
              {% if is_superuser %}
              <li href="#" class="nav-link" id = "Home">
                <a href="{% url 'dashboard_admin' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Admin Home</a>
              </li>
              <li href="#" class="nav-link" id = "Home">
                <a href="{% url 'createUserPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Register User</a>
              </li>
              <li href="#" class="nav-link" id = "Home">
                <a href="{% url 'employee_user_list_Page' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">User Accounts</a>
              </li>
              

              <li href="#" class="nav-link" id = "Home">
                <a href="{% url 'dashboardPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Home</a>
              </li>
              <li href="#" class="nav-link" id = "Employee">
                <a href="{% url '#' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Employee</a>
              </li>
              <li href="#" class="nav-link" id = "Hr_Manager">
                <a href= "{% url 'hr_page' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Hr</a>
              </li>
              <li href="#" class="nav-link" id = "Hr_Manager">
                <a href= "{% url 'manager_page' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Manager</a>
              </li>
              <li href="#" class="nav-link" id = "logoutUser">
                <a href= "{% url 'logoutUser' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Logout</a>
              </li>
              <li href="#" class="nav-link" id = "ChangePassword">
                <a href= "{% url 'ChangePasswordPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Change Pass</a>
              </li>
              {% endif %}
              {% if user_role == '1' %}
              <li href="#" class="nav-link" id = "Home">
                <a href="{% url 'dashboardPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Home</a>
              </li>
              <li href="#" class="nav-link" id = "Employee">
                <a href="{% url 'employeePage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Employee</a>
              </li>
              <li href="#" class="nav-link" id = "logoutUser">
                <a href= "{% url 'logoutUser' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Logout</a>
              </li>
              <li href="#" class="nav-link" id = "ChangePassword">
                <a href= "{% url 'ChangePasswordPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Change Pass</a>
              </li>
              {% endif %}
              {% if user_role == '2' %}
              <li href="#" class="nav-link" id = "Home">
                <a href="{% url 'dashboardPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Home</a>
              </li>
              <li href="#" class="nav-link" id = "Employee">
                <a href="{% url 'hr_home' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Hr</a>
              </li>
              <li href="#" class="nav-link" id = "logoutUser">
                <a href= "{% url 'logoutUser' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Logout</a>
              </li>
              <li href="#" class="nav-link" id = "ChangePassword">
                <a href= "{% url 'ChangePasswordPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Change Pass</a>
              </li>
              {% endif %}
              {% if user_role == '3' %}
              <li href="#" class="nav-link" id = "Home">
                <a href="{% url 'dashboardPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Home</a>
              </li>
              <li href="#" class="nav-link" id = "Employee">
                <a href="{% url 'ManagerPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Manager</a>
              </li>
              <li href="#" class="nav-link" id = "logoutUser">
                <a href= "{% url 'logoutUser' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Logout</a>
              </li>
              <li href="#" class="nav-link" id = "ChangePassword">
                <a href= "{% url 'ChangePasswordPage' %}" class="mx-2" style="text-decoration:none; font-weight:bolder; color:#53a8b6;">Change Pass</a>
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="p-1 ps-4 my-container active-cont">
            {% block content %}
            {% endblock %}
            <a class="btn border-0 ms-1" id="menu-btn" style="position: fixed !important;top: 0px !important;">
              <i class="fa-solid fa-bars"></i>
            </a>
          </div>
    </body>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap_select_picker.js' %}"></script>
    <script src="{% static 'js/fontawesome/all.js' %}"></script>
    <script src="{% static 'js/base/base.js' %}"></script>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>    {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>