{% extends 'base/base_auth.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<script>
    var loginUserPage = "{% url 'loginUserPage' %}"
    var resetPassword_pass="{% url 'resetPassword_pass' %}"
</script>
<div class="container mt-5">
    <div class="mx-auto mt-5" style="width:60%;">
        <div class="card">
            <div class="card-body">
              <h3 class="text-center">Reset Password</h3>
              <div class="row mb-3">
                <label for="password1" class="col-sm-2 col-form-label">password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password1">
                </div>
              </div>

              <div class="row mb-3">
                <label for="password2" class="col-sm-2 col-form-label">re-type password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password2">
                </div>
              </div>

              <div class="row mb-3">
                <button class="btn btn-dark ms-2" id="resetPass" style="width:20%;">reset password</button>
              </div>
            </div>
          </div>
    </div>
</div>
<script src="{% static 'js/auth_user/resetPasswordPage.js' %}"></script>
{% endblock %}