h1{
    color:yellowgreen;
}
.button_container{
    display:flex;
    align-items:center;
    justify-content: left;
}
.table_style {
    height: 300px;
    overflow-y: scroll;
  }
  .student_table_style{
    height: 300px;
    overflow-y: scroll;
  }