{% extends "base/base_auth.html" %}
{% load static %}
{% block content %}
<div class="container">
<script>
  var loginUser='{% url "loginUser" %}'
  var home='{% url "home" %}'
</script>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">username</label>
      <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="pass">
      <a href="{% url "registerPage" %}">Don't have an account?</a>
      <a id="forgotpass">Forgot password?</a>
    </div>
    <button class="btn btn-primary" id='login'>Login</button>
  <script src="{% static 'js/auth_user/login.js' %}"></script>
</div>
{% endblock content %}